<div class="ae-text {{customClassNames}}" data-test={{hook "affinity_engine_stage_direction_text_caption_inner_container"}}>
  {{#if captionTranslation}}
    <div class="ae-text-caption {{captionPosition}}" data-test={{hook "affinity_engine_stage_direction_text_caption"}}>{{captionTranslation}}</div>
  {{/if}}
  {{ember-lxl
    cbs=callbacks
    duration=duration
    effect=effect
    instant=instant
    keyboardActivated=keyboardActivated
    keyboardPriority=keyboardPriority
    keys=keys
    linkedDirections=linkedDirections
    mustClickSelf=mustClickSelf
    rate=rate
    scrollable=scrollable
    text=textTranslation
    tweenLibrary=animator
    onComplete=(action "completeText")
    hook="affinity_engine_stage_direction_text_content"
  }}
</div>
