{{#affinity-engine-animation-box-wrapper
  animationAdapter=animationLibrary
  classNames="ae-hidden"
  transitionIn=transitionIn
  transitionOut=transitionOut
  willTransitionOut=willTransitionOut
  didTransitionOut=(action "didTransitionOut")
}}
  <div class="ae-text {{customClassNames}}" data-test={{hook "affinity_engine_stage_direction_text_name_inner_container"}}>
    {{#if nameTranslation}}
      <div class="ae-text-caption {{namePosition}}" data-test={{hook "affinity_engine_stage_direction_text_name"}}>{{nameTranslation}}</div>
    {{/if}}
    {{ember-lxl
      cps=cps
      instant=instant
      keyboardActivated=keyboardActivated
      keyboardPriority=keyboardPriority
      keys=keys
      scrollable=scrollable
      text=textTranslation
      tweenEffect=tweenEffect
      tweenLibrary=animationLibrary
      tweenRate=tweenRate
      onComplete=(action "completeText")
    }}
  </div>
{{/affinity-engine-animation-box-wrapper}}
